apiVersion: apps/v1
kind: Deployment
metadata:
  name: banking-app
spec:
  selector:
    matchLabels:
      app: banking-app
  replicas: 1 
  template: 
    metadata:
      labels:
        app: banking-app
    spec:
      containers:
      - name: banking-app
        image: jeevanc370/banking-app:latest
        ports:
        - containerPort: 80
        imagePullPolicy: Always
        # --- NEW SECTION STARTS HERE ---
        # These variables give your app permission to talk to Jenkins & SonarQube
        env:
          - name: JENKINS_URL
            value: "http://172.31.47.1:8080"
          - name: JENKINS_TOKEN
            value: "118a59e31e4e967ba083fea6adf90aca31"
          - name: SONAR_URL
            value: "http://172.31.47.1:9000"
          - name: SONAR_TOKEN
            value: "118a59e31e4e967ba083fea6adf90aca31"
        # --- NEW SECTION ENDS HERE ---

---
apiVersion: v1
kind: Service
metadata:
  name: banking-service
spec:
  type: NodePort         
  selector:
    app: banking-app
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80   
    nodePort: 30007