- name: Docker Build and Push for Banking App
  hosts: local  # Ensure this matches your Jenkins/Ansible host inventory  # Run tasks with sudo privileges

  tasks:  

    - name: Build Docker Image
      command: docker build -t banking-app .
      args:
        # CHANGE: Update this path to your actual Jenkins workspace name
        chdir: /var/lib/jenkins/workspace/DevopsSEE

    - name: Tag image
      # CHANGE: Retagging from local 'banking-app' to your Docker Hub repo
      command: docker tag banking-app:latest jeevanc370/banking-app:latest 

    - name: Log in to Docker Hub
      community.docker.docker_login:
        registry_url: https://index.docker.io/v1/
        # SECURITY NOTE: In real projects, use Ansible Vault or Jenkins secrets for these!
        username: "jeevanc370" 
        password: "204976Ca!"

    - name: Push image
      command: docker push jeevanc370/banking-app:latest

    - name: Run container (Test)
      # CHANGE: 
      # 1. Name: pet1 -> bank-test
      # 2. Port: 8081:80 (Map host 8081 to container 80 because Nginx runs on 80)
      # 3. Image: petstore -> banking-app
      command: docker run -d --name bank-test -p 8081:80 jeevanc370/banking-app:latest
